version: "3.9"

services:
  dev:
    build:
      context: ..
      dockerfile: infra/Dockerfile.dev
    container_name: taxi-ml-dev
    volumes:
      - type: bind
        source: ..
        target: /app
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"
